/* fonts.css */
@font-face {
  font-family: "RalewayItalic";
  src: url("../../assets/font/RalewayMediumItalic.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../../assets/font/RalewayVariableFont.ttf");
  font-weight: normal;
  font-style: normal;
}
