@import "../../style/abstracts/variables";
@import "../../style/abstracts/mixin";

.game {
  background: $bg-color-light;
  padding: 8%;

  .game__title {
    @include h1;
  }
  .game__container {
    display: flex;
    width: 80%;
    justify-content: center;
  }
  .game__container-img {
    display: flex;
    width: 20%;
    align-items: flex-end;
  }
  img {
    width: 100%;
  }
  .game__slide {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
  }
  .slider-button {
    background-color: #007bff;
    color: white;
    font-size: 24px;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }

  .slider-button:hover {
    background-color: #085946;
    transition: all 0.2s;
    box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
  }

  .slider-button.prev {
    background-color: $bg-color-dark;
  }

  .slider-button.prev:hover {
    transform: rotate(180deg);
  }

  .slider-button.next {
    background-color: $bg-color-dark;
  }

  .slider-button.next:hover {
    transform: rotate(180deg);
  }
  .game__done {
    color: #3e3e42;
    font-family: "RalewayItalic";
    font-size: 20px;
    text-align: center;
  }
}
